<div w11k-slide-master="regular" class="">
  <div w11k-slide-part-source="header">
    Context &amp; Presentation
  </div>

  <div w11k-slide-part-source="content">

    <ul class="simple">
      <li>a.k.a Smart &amp; Dumb / Smart & Presentation</li>
      <li>Presentation
        <ul>
          <li>Kennt Umgebung nicht</li>
          <li>Soll Daten darstellen</li>
          <li>Bekommt Daten per Input übergeben</li>
          <li>Aggregiert und abstrahiert Events per Output</li>
        </ul>
      </li>
      <li>Context
        <ul>
          <li>Kennt Umgebung</li>
          <li>Besorgt Daten</li>
          <li>Bindet Presentation-Components ein</li>
          <li>Interpretiert Events</li>
        </ul>
      </li>
    </ul>

  </div>

</div>
