<div w11k-slide-master="regular" class="">
  <div w11k-slide-part-source="header">
    Komponenten
  </div>

  <div w11k-slide-part-source="content">

    <ul class="simple">
      <li>Klein halten
        <ul>
          <li>Single Responsibility</li>
          <li>Wiederverwendbarkeit, Testbarkeit</li>
        </ul>
      </li>
      <li>Kapselung einhalten
        <ul>
          <li>Verändern nur eigenen DOM</li>
          <li>Component ➔ Service ➔ Component</li>
        </ul>
      </li>
      <li>Sind für UI zuständig
        <ul>
          <li>Single-Responsibility</li>
          <li>Datenbeschaftung und Haltung in Services</li>
        </ul>
      </li>
    </ul>

  </div>

</div>
