<div w11k-slide-master="regular" class="">
  <div w11k-slide-part-source="header">
    Komponenten
  </div>

  <div w11k-slide-part-source="content">

    <ul class="simple">
      <li>Klein halten!</li>
      <li>Kapselung wichtig für Wiederverwendbarkeit</li>
      <li>Viele Konzepte in Angular
        <ul>
          <li>Inputs & Outputs</li>
          <li>Styles</li>
          <li>Host-Bindings & Listener</li>
          <li>ViewChild</li>
        </ul>
      </li>
    </ul>

  </div>

</div>
