<div w11k-slide-master="regular" class="">
  <div w11k-slide-part-source="header">
    Arten
  </div>

  <div w11k-slide-part-source="content">

    <ul class="simple">
      <li>Smart & Dumb</li>
      <li>Testbarkeit, Wiederverwendbarkeit</li>
      <li>Presentation (Dumb)
        <ul>
          <li>Kennt Umgebung nicht</li>
          <li>Stellt Daten dar</li>
          <li>Aggregiert Events (Click &rightarrow; Like)</li>
        </ul>
      </li>
      <li>Container (Smart)
        <ul>
          <li>Kennt Umgebung</li>
          <li>Besorgt Daten</li>
          <li>Bindet Presentation-Components ein</li>
          <li>Interpretiert Events</li>
        </ul>
      </li>
    </ul>

  </div>

</div>
